    <form method="get" action="/quizes/answer">        
      <p>La pregunta es: <strong><%= pregunta %></strong></p>
      <input type="text" name="respuesta" size="40" 
             placeholder="Escriba la respuesta aqui" value=""/>
      <input type="submit" value="Enviar">
    </form>